.container {
  max-width: 700px;
  color: #fffdb7;
  margin: 0 auto;
  background-image: url(vecteezy_abstract-purple-fluid-wave-background_6868933.jpg);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #420459;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgba(255, 253, 184, 0.5);
  padding: 10px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 45px;
  font-weight: bold;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
body {
  background-color: #884f86;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  font-size: 15px;
  color: #302535;
}
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  margin: 0 0 10px;
  font-size: 28px;
}
footer {
  margin: 20px 0;
  text-align: center;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgba(255, 253, 184, 0.5);
}
